<!DOCTYPE HTML>

<html>

<head>
    <title>Create Project</title>  
</head>

    <div class="container">
        <div class="row">
            <div class="well">

                <h1 class="text-center">Create New Project</h1>

                <div>
                    <div >
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <img height="250" width="350" class="media-object img-rounded img-responsive"  src="http://r.b5z.net/i/u/6148286/i/Our%20Bieliefs/Creation-hands-L.jpg" alt="placehold.it/350x250">
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4> Name Of Project </h4>

                            <input type="text" value="Enter Project Name">
                            <ul>
                                <li>Enter Team Members:</li>
                                    <ul>
                                    <li>Name: <input type="text"> Role: <input type="text"></li>
                                    <li>Name: <input type="text"> Role: <input type="text"></li>
                                    <li>Name: <input type="text"> Role: <input type="text"></li>
                                    <li><img src="http://findicons.com/files/icons/1156/fugue/16/plus_button.png"></li>
                                    </ul>
                                <li>Lines of Code Estimate: </li>
                                    <ul>
                                    <li>Lines: <input type="text"></li>
                                    </ul>
                                <li>First Task:</li>
                                    <ul>
                                        <li>Name: <input type="text"></li>
                                        <li>Lines of Code: <input type="text"></li>
                                    </ul>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>

                        <div class="col-md-3 text-center">
                            <button type="button" class="btn btn-default btn-lg btn-block"> Submit </button>
                        </div>
            </div>
        </div>
    </div>
</div>
</html>
